<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://msgraphproxy.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a3052577-23a8-4dbd-9c74-c9c4105da29e/resourceGroups/msgraphproxy/providers/Microsoft.Web/sites/msgraphproxy</ResourceId>
    <UserName>$msgraphproxy</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://msgraphproxy.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>